body{
  background-image: linear-gradient(to right bottom, orange, purple);
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 3000px;
}

.App{
  display: grid;
  justify-content: center;
  text-align: center;
}

.App .title{
  color: white;
  font-size: 2.5rem;
}